#macro(includeTags, $tags)

<div class="tags">
  #if (!$tags.isEmpty())
    #foreach($tag in $tags)
       <span class="tag"><a class="small-thin-text" href="$tag.getFileName()">$tag.getName()</a></span>
    #end
  #end
</div>

#end
